*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variaveis para gerenciar as cores nos dois temas
escuro e claro */
:root{
    --text-color: #FFF;
    --bg-url: url(/projeto\ rocketseat/assets/bg-desktop.jpg);
    --strock-color: #a0a0a0;
    --surface-color: rgba(255, 255, 255, 0.1) ;
    --surface-color-hover: rgba(255, 255, 255, 0.05) ;
    --highlight-color:rgba(255, 255, 255, 0.2);
    --sweet-bg-url: url(/projeto\ rocketseat/assets/moon-stars.svg);
}

.light{
    --text-color: #000;
    --bg-url: url(/projeto\ rocketseat/assets/bg-desktop-light.jpg);
    --strock-color: rgba(0 ,0, 0, 0.5);
    --surface-color: rgba(0 ,0, 0, .1);
    --surface-color-hover: rgba(0, 0, 0, 0.02) ;
    --highlight-color: rgba(0, 0, 0, 0.1);
    --sweet-bg-url:url(/projeto\ rocketseat/assets/sun.svg);
}


body{
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;

    /*FORMA RESUMIDA 
    background: url(../assets/bg-desktop.jpg) no-repeat top
    center/cover */
}

body *{
    font-family: "inter", sans-serif;
    color: var(--text-color);
}

#container{
    width: 360px;
    margin:auto;
    margin-top: 56px;
    padding: 24px 0;
    
}

/* sweet */
#sweet  {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#sweet button{
    height: 32px;
    width: 32px;
    background-color: #FFF;
    border: none;
    border-radius: 50%;
    background-image: var(--sweet-bg-url);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 1;
    left: 0;
    /* alinhamento do posicionamento do botão */
    top: 50%;
    transform: translateY(-50%);

    animation: slide-back .3s forwards  ;
}

.light #sweet button{
    /* forwards = serve para quando finalizar a animação manter as propriedades  */
    animation: slide-in .3s forwards;
}

#sweet button:hover{
    outline: 8px solid var(--highlight-color);
}

#sweet  span{
    display: block;
    height: 24px;
    width: 64px;
    background-color: var(--surface-color) ;
    border: 1px solid var(--strock-color);
    border-radius: 9999px;

}

/* profileee */
#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    border-radius: 50%;
    border: 3px solid var(--strock-color);
}

.profile1{
    width: 112px;
    
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px ;
}
/* list  */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
   
}

ul li a {
    border: 2px solid var(--strock-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--surface-color);
    border-radius: 8px;
    backdrop-filter: blur(10px); 
    text-decoration: none;
    font-weight: bold;
    transition: .1s;
    
}

ul li a:hover{
    background-color: var(--surface-color-hover);
    border: 2px solid var(--text-color);
}

/* social links */

#social-links{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 0;
    font-size: 24px;
    cursor: pointer;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: .2s;
    border-radius: 50%;
}

#social-links a:hover{
    background-color:var(--highlight-color);
    padding: 16px;
    
}

footer{
    padding: 24px 0;
    text-align: center;
}

/* responsividade */
@media (min-width: 770px) {
    :root{
        --bg-url: url(/projeto\ rocketseat/assets/bg-desktop.jpg);
    }
    .light{
        --bg-url: url(/projeto\ rocketseat/assets/bg-desktop-light.jpg);
    }



}
/* animações  */

/* ir para tema branco  */
@keyframes slide-in{
    form{
        left: 0;
    }

    to{
        left: 50%;
    }
}

/* voltar para tema escuro */
@keyframes slide-back {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}